# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @actions-monorepo will be requested for review when someone opens a pull request.

* @tinyfists/actions-monorepo


# Teams can be specified as code owners as well.
# Teams should be identified in the format @org/team-name.
# Teams must have explicit write access to the repository.

/microservices/a/ @tinyfists/actions-monorepo-microservice-a
/microservices/b/ @tinyfists/actions-monorepo-microservice-b
/microservices/c/ @tinyfists/actions-monorepo-microservice-c
/microservices/d/ @tinyfists/actions-monorepo-microservice-d
